*{
    margin: 0;
    padding: 0;
}
#head{
    display: flex;
    position:sticky;
    top: 0px;
    height: 60px;
    justify-content: space-around;
    background-color: whitesmoke;

}

#loggo{
    height: 20px;
    width: 180px;
    padding-top: 25px;
    padding-right: 50px;
}
a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(97, 99, 100);
    font-weight:300;
}
#bar{
    padding-top: 25px;
    word-spacing: 58px;
   
}
#landing{
    width: 100vw;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    justify-content: center;
    gap: 25px;
}
main img{
    height: 380px;
}
h3{
    padding-top: 30px;
    font-weight:400;
    font-size:35px;
    
    color: rgb(68, 69, 69);
}
.zerodha{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p1{
    font-size:20px;
    font-weight: 350;
   color: rgb(81, 84, 85)
}
#button{
    height: 50px;
    width: 200px;
margin-top: 16px;
/* padding-top: 16px; */
font-size:large;
color: white;
border-radius: 8px;
background-color: rgb(56,126,209);
border-color: transparent;
}
#m2{
    display: flex;
}
#d2{
    width: 60vw;
    height: 850px;
    /* background-color: aqua; */
}
#d1{
    width: 40vw;
    height: 850px;
    /* background-color: aqua; */
    padding-left:150px;
    gap: 50px;
}
div img{
    height: 800px;
    margin-right: 20px;
    width: 700px;
   
 
}
.con{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div p{
    font-size:large;
    font-weight: 400;
    color:  rgb(68, 69, 69);
}
div h4{
    font-size:x-large;
    font-weight: 600;
    color: rgb(81, 84, 85);
}
#media{
 width: 100vw;
 height: 70px;
}
#media{
   width: 60vw;
   padding-left: 300px;

}
#medialogo{
    margin-top:100px;
}
section div{
    font-size:large;
    font-weight: 400;
    color:  rgb(68, 69, 69);;

}