.container{
    background-color: #ec1559 ;
    height: 400px;
    width: 80vw;
    display: grid;
    grid-template-columns: 2fr, 1fr, 3fr;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 20px 40px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
  


}
.itme{
    background-color: aquamarine;
}
.item1{
    grid-row: 1/1;
    grid-column: 1/1;
    height: 130px;
}


.item2{
    grid-row: 1/3;
    grid-column: 2/3;

}

.item3{
    background-color: #f58859;
    grid-row: 1/1;
}
.item7{
    grid-row: 3/4;
    grid-column: 1/4;
    height: 100px;
}