main{
    background-image: url(Zomato.png);
    background-size: cover;
    height: 900px;
    width: 1440px;
    border : 5px solid antiquewhite;
    
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
div{

    color: white;
    
    
    height: 400px;
    width: 1500px;
    overflow: auto;
    padding: 20px;
    margin: 500px 0px 0px 425px;
    font-size: 20px;
}
button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    cursor: pointer;
    border-radius: 12px;
}
button:hover{
    background-color: rgb(162, 30, 52);
}
